body{
    background-color: rgb(250, 252, 129);
}

.MyHeader{
    text-align: center;
    color: rgb(9, 35, 68);
}

#table {
    background-color: rgb(7, 80, 90);
    text-align: center;
    color: rgb(9, 35, 68);
    font-size: 28px;
}